*.veo
*.xise
*.ngc
*.asy
*.cgc
*.cgp
*.log
*.pdf
*.gise
*.tcl
*.swp
*.v~
*flist.txti
*gen_readme.txt
*.elf
*.prj
*.stx
*.xst
*.bmm
*.fdo
*.udo
*.xmsgs
*.mti
*.mpf
*.ini
*.wlf
*.cmd
*.cmf
*.rpt
hardware/sim/work/
*.asy
*.ngc
*.sym
*.vhd
*.projectmgr
*.xreport
*.exe
*.dll
*.dbg
*.dat
isim/
work/
*.bin
xst/
iseconfig/
*.bak
ipcore_dir/tmp
ipcore_dir/IMEM_blk_ram
ipcore_dir/DMEM_blk_ram